*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    justify-content: end;
    align-content: end;
    min-height: 100vh;
}

footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100;
}
footer .container-footer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}